* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
}

.wrap {
  min-width: 320px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: top;
}

/*********** HEADER ***********/
header {
  position: relative;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
}

h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

h1 a {
  font-size: 20px;
  color: #000;
  display: block;
}

.menu {
  position: absolute;
  width: 42px;
  height: 40px;
  top: 4px;
  left: 4px;
  background-image: url(img/btn);
}

.menu ul {
  padding-left: 10px;
  padding-top: 14px;
}

.menu ul li {
  width: 17px;
  height: 2px;
  background-color: rgb(170, 170, 170);
  margin-bottom: 2px;
}

.search {
  position: absolute;
  top: 15px;
  right: 43px;
}

.search img {
  width: 19px;
  height: auto;
}

.membership {
  position: absolute;
  top: 15px;
  right: 4px;
}

.membership img {
  width: 19px;
  height: auto;
}

/*********** GNB ***********/
nav {
  height: 45px;
  position: relative;
}

.gnb {
  width: calc(100% - 44px);
}

.gnb:after {
  content: '';
  display: block;
  clear: both;
}

.gnb li {
  width: 15%;
  height: 45px;
  line-height: 45px;
  float: left;
  background-color: white;
  text-align: center;
}

.gnb li:last-child {
  width: 25%;
}

.gnb li a {
  color: #000;
  display: block;
}

.gnb_arr {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: white;
  border: 1px solid #ccc;
}

.gnb_arr a {
  display: block;
}

.gnb_arr img {
  height: 8px;
  vertical-align: middle;
}

.main_bn {
  position: relative;
}

.main_bn a img {
  width: 100%;
  height: auto;
}

.pager {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0,0,0,0.5);
  width: 40px;
  height: 25px;
  text-align: center;
  border-radius: 100px;
  color: #fff;
  line-height: 25px;
}

.popup {
  position: relative;
  height: 56px;
  width: 100%;
  background-color: #747B8D;
  background-image: url(img/top_app.png);
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: 8px 15px;
}

.popup_txt {
  padding: 14px 0 0 45px;
  font-size: 12px;
  color: #fff;
}

.popup_img {
  position: absolute;
  top: 15px;
  right: 52px;
}

.popup_img img {
  width: 95px;
}

.btn_close {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 18px 12px;
}

.btn_close img {
  width: 16px;
}

.main_grid_box {
  width: 100%;
}

.main_grid_box ul {
  width: 100%
}

.main_grid_box ul li {
  float: left;
  height: 59px;
  width: 25%;
  position: relative;
  text-align: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.main_grid_box ul li:last-child {
  border-right: none;
}

.main_grid_box ul li a {
  display: block;
  height: 100%;
}

.main_grid_box ul li img {
  width: 30px;
  padding-top: 9px;
}

.grid_box_tit {
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #333;
}