@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*************  REUSABLE  *************/
.wrap {
  width: 1200px;
  margin: 0 auto;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}


/*************  FONTS  *************/
html,
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #555;
}

h1 {
  padding-left: 40px;
}

.gnb > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
}

.sub > li > a {
  color: #333;
  font-size: 1em;
}


/*************  HEADER  *************/
header {
  width: 1200px;
  height: 42px;
  top: 55px;
  left: 50%;
  transform: translateX(-600px);
  background-image: url(img/bg_nav.png);
  position: absolute;
}

.header {
  position: relative;
}

h1 {
  float: left;
  margin-top: 5px;
}



/*************  GNB  *************/
nav > ul {
  position: absolute;
  top: 0;
  right: 0;
}

.gnb {
  float: left;
  padding: 13px 35px 11px;
  position: relative;
}

.gnb:nth-last-child(2) {
  border-right: 1px solid #66696D;
}

.btn_theme {
  border-left: 1px solid #4B4E52;
}



/*************  SUB GNB  *************/
.sub {
  display: none;
  position: absolute;
  top: 42px;
  left: 50%;
  margin-left: -70px;
}

.sub > li {
  width: 140px;
  text-align: center;
  padding: 5px 0;
  background-color: #ddd;
  border-bottom: 1px solid #ccc;
}



/*************  GNB HOVER INTERACTION  *************/
.gnb:hover .sub {
  display: block;
}

.gnb > a:hover .sub li {
  display: block;
}

.gnb > a:hover {
  border-bottom: 2px solid #fff;
}

.sub > li > a:hover {
  text-decoration: underline;
}


/*************  MAIN SECTION  *************/
.main-bn {
  height: 100vh;
  background-image: url(img/main_visual_01.jpg);
  background-position: center 0;
  background-repeat: no-repeat;
}

.main-bn > div {
  position: relative;
}

.bn_txt {
  width: 1030px;
  padding-top: 210px;
  margin: 0 auto;
  color: #fff;
}

.bn_txt > h2 {
  font-size: 46px;
  font-weight: 400;
  border-bottom: 2px solid #fff;
  display: inline;
}

.bn_txt > p {
  font-size: 14px;
  margin-top: 20px;
}

/* SEARCH */
.main-section > .wrap {
  position: relative;
}

.search {
  position: absolute;
  top: 20px;
  right: 0;
}

.search:hover input {
  display: block;
}

.search button {
  width: 22px;
  height: 23px;
}

.search button:hover input {
  display: block;
}

.search input {
  display: none;
  position: absolute;
  top: 0;
  right: 21px;
  width: 120px;
  height: 23px;
  padding-left: 10px;
  font-family: 'Noto-sans';
  font-weight: 400;
}


/*************  BANNER  *************/
.bn_list {
  margin: 337px 0;
}

.bn_list > li {
  box-sizing: unset;
  float: left;
  background-color: #fff;
  padding-top: 10px;
  font-size: 14px;
}

.bn_list > li > a:link,
.bn_list > li > a:visited {
  color: #000;
}

.li_tit {
  margin: 15px 0 10px;
  padding-left: 10px;
}

.li_tit > span {
  border-bottom: 1px solid #000;
}

.li_txt {
  color: #666;
  padding-left: 10px;
}


/*************  BANNER HOVER INTERACTION  *************/
.bn_list > li:hover .li_img span {
  display: block;
}

.li_img {
  position: relative;
}

.li_img img {
  padding: 0 10px;
  border-right: 1px solid #E6E6E6;
  width: 300px;
}

.bn_list:last-child .li_img img {
  border-right: 0;
}

.li_img > span {
  display: none;
  position: absolute;
  width: 279px;
  height: 116px;
  line-height: 116px;
  background: rgba(0,0,0,0.4);
  top: 0;
  left: 10px;
  text-align: center;
  color: #fff;
  font-size: 1.6em;
}